<!DOCTYPE html>
<html lang="en">
<form>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><font size="50">Кабо fix</font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
</form>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<title>margin-left</title>
<title>margin-right</title>
<style>
   .layer1 {
    background-color: #; /* Цвет фона */
   }
   .layer2 {
    margin-left: 20%; /* Отступ слева */
    margin-right: 25%; /* Отступ справа */
    background-color: #; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }





</style>
<div class="layer1">
    <div class="layer2">
        <div class="card">
            <div class="card-body">


                </head>
                <body>
                <h1>Вход на сайт</h1>
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Логин:</label>
                        <input type="text" name="login" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Пароль:</label>
                        <input name="password" type="password" id="inputPassword6" class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordHelpInline" class="text-muted">
                            Must be 8-20 characters long.
                        </small>
                    </div>
                    <p style="margin-top: 15px;"><input type="submit" class="btn btn-outline-secondary" value="Вход">
                        <a href="/register" class="btn btn-outline-secondary">Регистрация</a></p>
                </form>

                </body>
</html>
